<div class="container">
  <mat-toolbar color="primary">
     <div>Softblobs Employee Information</div>
     <div>
      <button style="margin:10px;" (click)="Savefunction()" class="Savetouch" mat-raised-button color="accent" mat-raised-button >
        Login
      </button>
     </div>
     <div>
      <button style="margin:10px;" (click)="Newuser()"  mat-raised-button color="accent" mat-raised-button >
        New User
      </button>
     </div>
  </mat-toolbar>
 </div>
<router-outlet></router-outlet>

